@charset "UTF-8";
@font-face { font-family: Android; src: url(../pacote-projeto-d010/fontes/idroid.otf);}


:root{
    --cor0:#ebe5c6;
    --cor1:#83e1ad;
    --cor2:#36c274;
    --cor3:#2b9b5d;
    --cor4:#2a8d55;
    --cor5:#1a5c38;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-android:'Android', cursive;

}

body {
    background-color: var(--cor0);
    margin: 0px;
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(#36c274,#2b9b5d,#2a8d55,#1a5c38);
    font-family: var(--fonte-destaque);
    color: white;
    padding: 1px;
    margin:0px;
}

.inicio {
    text-align: center;
}

a{  
    text-decoration: none;
    color: white;
}

nav{
    padding: 10px;
    margin: 10px;
}

.home {
    display: inline-block; /* Garante que o background seja aplicado corretamente */
    border-radius: 15px;
    padding: 5px 10px; /* Define o tamanho padrão do background */
    transition: all 0.4s ease; /* Suaviza o aumento do background */
}

.home:hover {
    background-color: var(--cor2);
    color: white;
    padding: 5px 10px; /* Aumenta o tamanho do background no hover */
    border-radius: 15px; /* Torna os cantos mais arredondados no hover */
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.408); /* Adiciona uma sombra no hover */
}

main{
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.512);
    padding: 10px;
    background-color: snow;
    min-width: 300px;
    max-width: 1000px;
    margin:auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}

main img {
    width:100%;
    text-align: center;
    display: block;
    margin: auto;
}
 .imagem3{
    width: 50%;
    display: block;
    text-align: center;
    margin: auto;
 }

.main{
    font-family: var(--fonte-android);
    margin: 20px;
    color: #1a5c38;
}

p{
    font-size: 15px;
    text-indent: 20px;
    margin: 10px;
}
h2{
    font-family: var(--fonte-android);
    color: var(--cor5);
    margin: 20px;
    font-size: 18px;
    background-image: linear-gradient(to right,#36c2758e,#ffff);
    padding: 5px 10px;
    border-radius: 15px;
}

.Dan{
    text-decoration: none;
    color: #1d5e3b;
    font-weight: bold;

}


.Dan:hover{
    text-decoration: underline;
    color: var(--cor5);
}

.Dan:active{
    text-decoration: none;
    color:var(--cor5);
}

.image1{
    display: block;
    text-align: center;
}
.imagem2{
    display: block;
    text-align: center;
    margin: auto;
}

.imagem3{
    display: block;
    text-align: center;
    margin: auto;
}

.Videos{
    background-color: var(--cor5);
    padding: 20px;
    margin: auto;
}

div.video {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: auto;
}

div.video::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

div.video > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.extra{
    background-color: #cfeddc;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.484);
}

h3{
    background-color: #2ea765;
    color: white;
    padding: 5px 10px;
    border-radius: 10px 10px 0px 0px;
}

ul{
    margin: 10px;
}

.fimdoextra{
    padding: 25px 0px;
}

.links{
    font-weight: bold;
    color:#2b9b5d;
}

.links:active{
        text-decoration: none;
        color: #103521;
}

.links:hover{
    text-decoration: underline;
    color: var(--cor5);
}

.fimdamain{
    padding: 25px 0px;
}

footer{
    background-color: var(--cor5);
    padding:10px;
    color: white;
    text-align: center;
}

footer >p{
    margin: 0px ;
}


